<div class="opzioniGrafico">
  <p>Controlli grafici</p>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="$parent.mostraNodo" cheched> Mostra nodi
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="$parent.mostraLabelNodo" cheched> Mostra etichette nodi
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="$parent.mostraAsta" cheched> Mostra aste
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="$parent.mostraLabelAsta" cheched> Mostra etichette aste
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="$parent.mostraVincoli" cheched> Mostra vincoli
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="$parent.mostraNodali" cheched> Mostra carichi concentrati
    </label>
  </div>
</div>





